@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Orbitron&display=swap");

body {
  background-color: #f1f0ec;
}

/* ----------HEADER---------- */

.header-layout-container {
  background-color: #292826;
  height: 55px;
  padding: 0 60px;
}

.header-layout-container-2 {
  display: none;
  background-color: #292826;
  height: 55px;
  padding: 0 60px;
}

.logo {
  color: #f4563c;
  cursor: pointer;
  user-select: none;
  font-size: 36px;
}

.links {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.searchbar {
  width: 25vw;
  height: 25px;
  padding-left: 10px;
  padding-right: 75px;
  border: 1px solid black;
  border-radius: 5px;
}

.search-btn {
  user-select: none;
  font-size: 12px;
  height: 23px;
  background-color: #e0dbdb;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  right: 0;
  top: 1px;
}

.header-icons {
  color: white;
  cursor: pointer;
}

.pop-up-container {
  display: none;
  width: 100%;
  height: 50px;
  background-color: #292826;
}

/* ----------HOME BANNER---------- */

.banner-container {
  height: 480px;
}

.banner {
  width: 80vw;
  height: 400px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  border-radius: 20px;
}

.banner > img {
  height: 100%;
  width: 100%;
  border-radius: inherit;
  object-fit: cover;
  user-select: none;
}

.banner > div {
  display: flex;
  left: 15px;
  bottom: 10px;
}

.banner-icons {
  color: gray;
  padding: 0;
  margin: 0 3px;
  cursor: pointer;
  user-select: none;
}

.dot-active {
  color: white;
}

/* ----------HOME EVENTS---------- */

.home-layout-container {
  height: 400px;
  margin-bottom: 40px;
}

.home-container {
  height: 400px;
  width: 80vw;
}

.home-header {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 1.8em;
  margin-top: 0;
}

.home-events-layout-container {
  display: flex;
  align-content: center;
  width: 1300px;
  height: 360px;
  margin: 0 50px;
  padding: 20px 0;
  overflow-y: hidden;
  overflow-x: auto;
}

.home-event-card-container {
  cursor: pointer;
  flex-shrink: 0;
  width: 280px;
  height: 300px;
  margin: 0 20px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  transform: scale(1);
  transition-duration: 0.5s;
}

.home-event-image-container {
  width: 280px;
  height: 200px;
}

.home-event-image-container > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  user-select: none;
  border-bottom: 1px solid #292826;
}

.home-event-info-container {
  width: 280px;
  height: 100px;
  padding: 5px 15px;
}

.home-event-time-date {
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  color: black;
  text-align: start;
  margin: 0;
}

.home-event-title {
  font-family: Montserrat, sans-serif;
  margin: 0;
  font-size: 14px;
  padding-top: 5px;
  text-align: center;
}

.home-event-venue {
  font-family: Montserrat, sans-serif;
  color: gray;
  font-size: 12px;
  margin: 0;
  padding-top: 3px;
  text-align: center;
}

.home-event-location {
  font-family: Montserrat, sans-serif;
  color: gray;
  font-size: 10px;
  margin: 0;
  text-align: end;
  padding-top: 3px;
  bottom: 5px;
  right: 15px;
}

.home-error {
  font-family: Montserrat, sans-serif;
  height: 100%;
  width: 100%;
  padding: 0 10%;
}

/* ----------RESULTS---------- */

.results-layout-container {
  height: 900px;
}

.results-container {
  width: 83vw;
  height: 800px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  border-radius: 20px 20px 0;
}

.results-img {
  width: 20%;
  height: 160px;
  object-fit: cover;
  user-select: none;
}

.results-performer-container {
  height: 160px;
  width: 80%;
  background-color: #292826;
  border-top-right-radius: 20px;
}

.results-performer-txt {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  margin: 0;
  user-select: none;
  color: #f4563c;
}

.ft-size-default {
  font-size: 82px;
}

.ft-size-1 {
  font-size: 52px;
}

.ft-size-2 {
  font-size: 42px;
}

.ft-size-3 {
  font-size: 32px;
}

.ft-size-4 {
  font-size: 22px;
}

.results-events-container {
  height: 640px;
  width: inherit;
  overflow-y: auto;
  border-bottom-left-radius: 20px;
}

.results-event {
  border: 1px solid black;
  cursor: pointer;
}

.results-event-date-container {
  height: 80px;
  width: 20.3%;
  background-color: #292826;
  padding: 0 10px;
}

.results-event-date-container > h3 {
  font-family: Montserrat, sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: #f4563c;
}

.results-event-venue-container {
  background-color: white;
  padding: 0 30px;
  height: 80px;
  width: 79.7%;
}

.results-event-venue-container > h3 {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.results-event-location {
  color: gray;
}

.results-no-events-container {
  height: 100%;
  width: 100%;
  background-color: white;
}

.results-no-events-txt {
  font-family: Montserrat, sans-serif;
  font-size: 56px;
  font-weight: bold;
}

/* ----------NO RESULTS---------- */

.no-results-container {
  height: 100%;
  width: 100%;
}

.no-results-container > h1 {
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  font-weight: bold;
}

.no-results-search {
  color: #f4563c;
}

/* ----------EVENT VIEW---------- */

.event-info-layout-container {
  height: 700px;
}

.event-info-container {
  width: 600px;
  height: 600px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  background-color: white;
}

.event-info-img {
  width: 20%;
  height: 100px;
  object-fit: cover;
  user-select: none;
  border-top-left-radius: 20px;
}

.event-info-performer-container {
  height: 100px;
  width: 80%;
  background-color: #292826;
  border-top-right-radius: 20px;
}

.event-info-performer {
  font-family: Montserrat, sans-serif;
  font-size: 38px;
  font-weight: bold;
  margin: 0;
  user-select: none;
  color: #f4563c;
}

.event-info-map-container {
  height: 250px;
  width: 100%;
}

.map-outline {
  height: 200px;
  width: 500px;
  border: 1px solid black;
}

.event-info-txt-layout-container {
  height: 175px;
  width: 100%;
  padding: 0 50px;
}

.event-info-btn-layout-container {
  background-color: #292826;
  height: 75px;
  width: 100%;
  padding: 0 20%;
}

.event-info-btn {
  height: 40px;
  border-radius: 5px;
  padding: 0 5px;
  font-size: 14px;
  border: none;
}

.tickets-btn {
  width: 35%;
  background-color: #f4563c;
  color: white;
}

.save-event-btn {
  width: 40%;
  background-color: #50c878;
  color: white;
  cursor: pointer;
}

.save-event-btn-2 {
  width: 40%;
  background-color: white;
  color: #50c878;
  border: 1px solid #50c878;
}

.event-info-table {
  margin: 0 auto;
  width: 95%;
  table-layout: fixed;
}

th {
  font-family: Montseratt, sans-serif;
  font-size: 24px;
  height: 35px;
  background-color: #292826;
  color: #f4563c;
  padding: 0 20px;
  overflow: scroll;
  white-space: nowrap;
}

td {
  font-family: Montseratt, sans-serif;
  font-size: 14px;
  height: 25px;
  overflow: scroll;
  white-space: nowrap;
  text-align: center;
  border: 1px solid #292826;
  padding: 0 5px;
}

/* ----------SAVED EVENTS VIEW---------- */

.saved-layout-container {
  height: 850px;
}

.saved-layout {
  width: 90%;
  flex-wrap: wrap;
}

.saved-container {
  width: 46%;
  height: 700px;
  background-color: white;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.saved-list-container {
  height: 70px;
  width: 100%;
  background-color: #292826;
}

.saved-list-container > h2 {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: #f4563c;
}

.saved-events-container {
  height: 560px;
  width: 100%;
  overflow-y: auto;
}

.saved-event {
  position: relative;
  border: 1px solid black;
  cursor: pointer;
}

.selected-event-icon {
  position: absolute;
  cursor: pointer;
  right: 15px;
  top: 8px;
  color: #50c878;
}

.saved-date-container {
  height: 50px;
  width: 30%;
  background-color: #292826;
}

.saved-date-container > h3 {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #f4563c;
}

.saved-events-footer-container {
  height: 70px;
  background-color: #292826;
}

.delete-event-btn {
  color: white;
  height: 35px;
  width: 130px;
  background-color: #f4563c;
  border-radius: 10px;
}

.delete-event-btn-disabled {
  color: white;
  height: 35px;
  width: 130px;
  background-color: darkgray;
  border-radius: 10px;
  border: none;
}

.saved-venue-container {
  height: 50px;
  width: 70%;
  padding: 0 50px;
}

.saved-venue-container > h3 {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.itinerary-container {
  width: 46%;
  height: 700px;
  background-color: white;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.saved-no-itinerary-container {
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.saved-no-itinerary-txt {
  font-family: Montserrat, sans-serif;
  font-size: 26px;
  font-weight: bold;
}

.create-itinerary-btn {
  height: 40px;
  width: 200px;
  background-color: #f4563c;
  border-radius: 5px;
  padding: 0 5px;
  font-size: 20px;
  color: white;
}

.saved-itinerary-container {
  height: 100%;
  width: 100%;
}

.saved-itinerary-header-container {
  height: 70px;
  width: 100%;
  background-color: #292826;
}

.saved-itinerary-img {
  width: 20%;
  height: 70px;
  object-fit: cover;
  user-select: none;
}

.saved-itinerary-performer-container {
  width: 80%;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  margin: 0;
  user-select: none;
  color: #f4563c;
  flex-direction: column;
}

.saved-itinerary-performer-txt {
  font-size: 22px;
  margin: 0;
}

.saved-itinerary-venue-txt {
  font-size: 18px;
  margin: 0;
}

.saved-itinerary-locations-container {
  height: 560px;
  width: 100%;
}

.saved-itinerary-footer-container {
  height: 70px;
  width: 100%;
  background-color: white;
  padding: 0 35px;
}

.saved-itinerary-footer-container > h2 {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: #292826;
  text-align: center;
  margin: 0;
}

.itinerary-icons {
  cursor: pointer;
}

.itinerary-icons-disabled {
  color: darkgray;
}

.itinerary-location {
  position: relative;
  height: 50px;
  width: 100%;
  border: 1px solid black;
  cursor: pointer;
}

.itinerary-location-time-container {
  height: 100%;
  flex-basis: 20%;
  background-color: #292826;
}

.itinerary-location-time-container > h3 {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #f4563c;
}

.itinerary-location-name-container {
  position: relative;
  height: 100%;
  flex-basis: 80%;
  text-align: center;
  padding: 0 50px;
}

.selected-location-icon {
  position: absolute;
  cursor: pointer;
  right: 15px;
  top: 8px;
  color: #50c878;
}

.itinerary-location-name-container > h3 {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #292826;
}

.location-delete-icon {
  position: absolute;
  right: 15px;
}

.delete-modal-selection-container {
  height: 200px;
  width: 500px;
  background-color: white;
}

.delete-modal-text-container {
  height: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.delete-modal-text {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

.delete-modal-buttons-container {
  align-items: center;
  height: 50%;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 20px;
}

.delete-modal-cancel-btn {
  color: white;
  background-color: rgb(128 128 128);
  font-family: Montseratt, sans-serif;
  font-size: 16px;
  height: 40px;
  width: 120px;
  border-radius: 10px;
  font-weight: 400;
}

.delete-modal-delete-btn {
  color: white;
  background-color: #f4563c;
  font-family: Montseratt, sans-serif;
  font-size: 16px;
  height: 40px;
  width: 120px;
  border-radius: 10px;
  font-weight: 400;
}

/* ----------LOCATION FORM MODAL---------- */

.location-modal-container {
  position: relative;
  height: 600px;
  width: 600px;
  background-color: white;
}

.location-modal-header-container {
  position: relative;
  height: 70px;
  background-color: #292826;
}

.location-modal-header {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: #f4563c;
}

.location-modal-form-container {
  display: flex;
  flex-direction: column;
  height: 460px;
  padding: 40px 40px 30px;
  justify-content: space-between;
}

.location-modal-form-container label {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.location-modal-form-container input {
  height: 30px;
  width: 270px;
  border-radius: 8px;
  background-color: #e5e5e5;
  border: none;
  padding: 0 10px;
}

.location-modal-form-container textarea {
  font-family: sans-serif;
  height: 150px;
  width: 270px;
  border-radius: 8px;
  background-color: #e5e5e5;
  border: none;
  padding: 10px;
  resize: none;
}

.location-modal-button-container {
  height: 70px;
  background-color: #292826;
}

.location-modal-back-btn {
  color: white;
  background-color: rgb(128 128 128);
  font-family: Montseratt, sans-serif;
  font-size: 16px;
  height: 35px;
  width: 80px;
  border-radius: 10px;
  font-weight: 400;
}

.location-modal-add-btn {
  color: white;
  background-color: #50c878;
  font-family: Montseratt, sans-serif;
  font-size: 16px;
  height: 35px;
  width: 40%;
  border-radius: 10px;
  font-weight: 400;
}

/* ----------EDIT MODAL---------- */

.edit-modal-button-container {
  height: 70px;
  background-color: #292826;
  align-items: center;
  padding: 0 17%;
}

.close-modal-icon {
  position: absolute;
  cursor: pointer;
  left: 30px;
  color: #f4563c;
}

.location-modal-delete-btn {
  color: white;
  background-color: #f4563c;
  font-family: Montseratt, sans-serif;
  font-size: 16px;
  height: 35px;
  width: 45%;
  border-radius: 10px;
  font-weight: 400;
}

.location-modal-delete-btn-2 {
  color: white;
  background-color: darkgray;
  font-family: Montseratt, sans-serif;
  font-size: 16px;
  height: 35px;
  width: 45%;
  border-radius: 10px;
  font-weight: 400;
  border: none;
}

/* ----------DELETE LOCATION CONFIRMATION---------- */

.delete-confirmation-container {
  position: absolute;
  left: 40px;
  bottom: 100px;
  height: 80px;
  width: 35%;
  border: solid 1px #f4563c;
  background-color: lightgray;
}

.delete-confirmation-text-container {
  height: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.delete-confirmation-text {
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.delete-confirmation-buttons-container {
  align-items: center;
  height: 50%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.delete-confirmation-cancel-btn {
  color: white;
  background-color: rgb(128 128 128);
  font-family: Montseratt, sans-serif;
  font-size: 12px;
  height: 20px;
  width: 70px;
  border-radius: 10px;
  font-weight: 400;
}

.delete-confirmation-delete-btn {
  color: white;
  background-color: #f4563c;
  font-family: Montseratt, sans-serif;
  font-size: 12px;
  height: 20px;
  width: 70px;
  border-radius: 12px;
  font-weight: 400;
}

/* ----------FOOTER---------- */

.footer-container {
  position: absolute;
  background-color: #292826;
  bottom: 0;
  height: 2.5rem;
  width: 100%;
}

/* ----------SPINNER---------- */

.spinner-container {
  width: 100%;
  height: 100%;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  background-color: #f4563c;
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  background-color: #f4563c;
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  background-color: #f4563c;
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  background-color: #f4563c;
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

/* ----------PSEUDO CLASSES---------- */
.links:hover {
  color: #f4563c;
}

.searchbar:focus {
  outline: none;
}

.search-btn:hover {
  background-color: rgb(224 219 219 / 70%);
}

.banner-icons:hover {
  color: white;
}

.event-card-container:hover {
  transform: scale(1.1);
}

.tickets-btn:hover {
  background-color: rgb(244 86 60 / 80%);
}

.save-event-btn:hover {
  background-color: rgb(80 200 120 / 80%);
}

.delete-event-btn:hover {
  background-color: rgb(244 86 60 / 90%);
}

.saved-venue-container:hover,
.results-event-venue-container:hover,
.itinerary-location-name-container:hover {
  background-color: #e0dbdb;
}

.create-itinerary-btn:hover {
  background-color: rgb(244 86 60 / 80%);
}

.itinerary-icons:hover {
  color: #f4563c;
}

.location-delete-icon:hover {
  color: #f4563c;
}

.delete-modal-cancel-btn:hover {
  background-color: rgb(128 128 128 / 90%);
}

.delete-modal-delete-btn:hover {
  background-color: rgb(244 86 60 / 90%);
}

.location-modal-back-btn:hover {
  background-color: rgb(128 128 128 / 90%);
}

.location-modal-add-btn:hover {
  background-color: rgb(80 200 120 / 90%);
}

.close-modal-icon:hover {
  color: rgb(244 86 60 / 80%);
}

.location-modal-delete-btn:hover {
  background-color: rgb(244 86 60 / 90%);
}

.delete-confirmation-cancel-btn:hover {
  background-color: rgb(128 128 128 / 90%);
}

.delete-confirmation-delete-btn:hover {
  background-color: rgb(244 86 60 / 90%);
}

.home-event-card-container:hover {
  transform: scale(1.1);
}

.header-icons:hover {
  color: #f4563c;
}

td::-webkit-scrollbar,
th::-webkit-scrollbar {
  display: none;
}

/* ----------MEDIA QUERIES---------- */

@media only screen and (max-width: 1200px) {
  .home-header {
    font-size: 1.5em;
  }

  .results-event-date-container > h3 {
    font-size: 20px;
  }

  .results-event-venue-container > h3 {
    font-size: 18px;
  }

  .saved-date-container > h3 {
    font-size: 16px;
  }

  .saved-no-itinerary-txt {
    font-size: 20px;
  }

  .itinerary-location-time-container > h3 {
    font-size: 16px;
  }
}

@media only screen and (max-width: 992px) {
  .home-header {
    font-size: 1.4em;
  }

  .header-layout-container {
    display: none;
  }

  .header-layout-container-2 {
    display: flex;
    padding: 0 30px;
  }

  .searchbar {
    width: 60vw;
  }

  .pop-up-container {
    display: flex;
  }

  .results-container {
    height: 760px;
  }

  .results-img {
    height: 120px;
  }

  .results-event-date-container {
    height: 60px;
  }

  .results-event-venue-container {
    height: 60px;
  }

  .results-performer-container {
    height: 120px;
  }

  .results-event-date-container > h3 {
    font-size: 15px;
  }

  .ft-size-default {
    font-size: 66px;
  }

  .ft-size-1 {
    font-size: 42px;
  }

  .ft-size-2 {
    font-size: 32px;
  }

  .ft-size-3 {
    font-size: 22px;
  }

  .ft-size-4 {
    font-size: 16px;
  }

  .results-no-events-txt {
    font-size: 42px;
  }

  .saved-layout-container {
    height: 1550px;
  }

  .saved-layout {
    width: 80%;
  }

  .saved-container {
    width: 100%;
  }

  .itinerary-container {
    margin-top: 50px;
    width: 100%;
  }

  .location-modal-container {
    width: 500px;
  }

  .location-modal-header {
    font-size: 28px;
  }

  .location-modal-form-container label {
    font-size: 16px;
  }

  .location-modal-form-container input {
    width: 200px;
  }

  .location-modal-form-container textarea {
    width: 200px;
  }

  .delete-confirmation-buttons-container {
    padding-left: 8%;
    padding-right: 8%;
  }

  .delete-confirmation-text {
    font-size: 10px;
  }

  .delete-confirmation-cancel-btn {
    font-size: 10px;
    width: 40%;
  }

  .delete-confirmation-delete-btn {
    font-size: 10px;
    width: 45%;
  }

  .location-modal-add-btn {
    font-size: 13px;
  }

  .location-modal-delete-btn {
    font-size: 13px;
  }

  .location-modal-delete-btn-2 {
    font-size: 13px;
  }
}

@media only screen and (max-width: 768px) {
  .home-header {
    font-size: 1.25em;
  }

  .header-layout-container-2 {
    padding: 0 15px;
  }

  .results-container {
    height: 740px;
  }

  .results-img {
    height: 100px;
  }

  .results-performer-container {
    height: 100px;
  }

  .results-event-date-container > h3 {
    font-size: 11px;
  }

  .results-event-venue-container > h3 {
    font-size: 15px;
  }

  .ft-size-default {
    font-size: 56px;
  }

  .ft-size-1 {
    font-size: 32px;
  }

  .ft-size-2 {
    font-size: 22px;
  }

  .ft-size-3 {
    font-size: 16px;
  }

  .ft-size-4 {
    font-size: 14px;
  }

  .results-no-events-txt {
    font-size: 34px;
  }

  .event-info-container {
    width: 78vw;
    height: 580px;
  }

  .map-outline {
    width: 65vw;
  }

  .event-info-img {
    height: 80px;
  }

  .event-info-performer-container {
    height: 80px;
  }

  .event-info-btn {
    font-size: 12px;
  }

  .ft-16px {
    font-size: 14px;
  }

  .ft-14px {
    font-size: 12px;
  }

  .event-info-txt-container > h2 {
    line-height: 15px;
  }

  .location-modal-container {
    width: 400px;
  }

  .location-modal-header {
    font-size: 22px;
  }

  .location-modal-form-container label {
    font-size: 16px;
  }

  .location-modal-form-container input {
    width: 150px;
  }

  .location-modal-form-container textarea {
    width: 150px;
  }

  .delete-confirmation-cancel-btn {
    font-size: 8px;
    width: 40%;
  }

  .delete-confirmation-delete-btn {
    font-size: 8px;
    width: 45%;
  }

  .location-modal-add-btn {
    font-size: 10px;
  }

  .location-modal-delete-btn {
    font-size: 10px;
  }

  .location-modal-delete-btn-2 {
    font-size: 10px;
  }
}

@media only screen and (max-width: 576px) {
  .home-header {
    font-size: 1em;
  }

  .results-container {
    height: 720px;
  }

  .results-img {
    height: 80px;
  }

  .results-performer-container {
    height: 80px;
  }

  .results-event-date-container {
    height: 50px;
  }

  .results-event-venue-container {
    height: 50px;
  }

  .results-event-date-container > h3 {
    font-size: 10px;
  }

  .results-event-venue-container > h3 {
    font-size: 14px;
  }

  .ft-size-default {
    font-size: 56px;
  }

  .ft-size-1 {
    font-size: 28px;
  }

  .ft-size-2 {
    font-size: 22px;
  }

  .ft-size-3 {
    font-size: 16px;
  }

  .ft-size-4 {
    font-size: 14px;
  }

  .results-no-events-txt {
    font-size: 22px;
  }

  .event-info-container {
    height: 560px;
  }

  .event-info-img {
    height: 60px;
  }

  .event-info-performer-container {
    height: 60px;
  }

  .saved-date-container > h3 {
    font-size: 12px;
  }

  .saved-list-container > h2 {
    font-size: 26px;
  }

  .saved-venue-container > h3 {
    font-size: 18px;
  }

  .saved-itinerary-performer-txt {
    font-size: 18px;
  }

  .saved-itinerary-venue-txt {
    font-size: 14px;
  }

  .saved-itinerary-footer-container {
    padding: 0 15px;
  }

  .saved-itinerary-footer-container > h2 {
    font-size: 20px;
  }

  .itinerary-location-time-container > h3 {
    font-size: 12px;
  }

  .saved-no-itinerary-txt {
    font-size: 14px;
  }

  .location-modal-container {
    width: 300px;
  }

  .location-modal-header {
    font-size: 20px;
  }

  .location-modal-form-container label {
    font-size: 12px;
  }

  .location-modal-form-container input {
    width: 100px;
  }

  .location-modal-form-container textarea {
    width: 100px;
  }

  .close-modal-icon {
    font-size: 23px;
  }

  .delete-confirmation-cancel-btn {
    font-size: 7px;
    width: 45%;
  }

  .delete-confirmation-delete-btn {
    font-size: 7px;
    width: 50%;
  }

  .location-modal-form-container {
    padding: 40px 25px 30px;
  }

  .delete-confirmation-container {
    left: 35px;
  }

  .location-modal-add-btn {
    height: 30px;
    font-size: 8px;
  }

  .location-modal-delete-btn {
    height: 30px;
    font-size: 8px;
  }

  .location-modal-delete-btn-2 {
    height: 30px;
    font-size: 8px;
  }

  .delete-modal-selection-container {
    width: 80%;
  }

  .delete-modal-text {
    font-size: 12px;
  }

  .delete-modal-buttons-container {
    padding-left: 20%;
    padding-right: 20%;
  }

  .delete-modal-cancel-btn {
    font-size: 12px;
    width: 40%;
  }

  .delete-modal-delete-btn {
    font-size: 12px;
    width: 40%;
  }
}
